---
name: Deploy docs
on:
  push:
    branches: [main]
jobs:
  docs:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Import Secrets
        id: import_secrets
        uses: hashicorp/vault-action@v2.4.1
        with:
          url: https://vault.basedosdados.org
          token: ${{ secrets.VAULT_TOKEN}}
          secrets: |
            secret/data/queries_credentials/<GCP_PROJECT_NAME>    GCP_SA_KEY | GCP_SA_KEY;
      - name: Set up poetry
        run: pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          cache: poetry
          python-version: '3.10'
      - name: Install requirements
        run: poetry install --with=dev
      - name: Setup credentials
        run: |
          echo ${{ steps.import_secrets.outputs.GCP_SA_KEY }} > dbt-sa.json
          poetry run python .github/workflows/scripts/modify_profiles.py
      - name: Generate docs
        run: |
          poetry run dbt docs generate --profiles-dir .
      - name: Delete credentials
        run: |
          rm dbt-sa.json
      - name: Deploy docs
        uses: JamesIves/github-pages-deploy-action@v4.2.3
        with:
          branch: gh-pages
          folder: target
